.img-container {
  display: absolute;
  width: 25%;
  height: 25%;
}

.moving-bot-to-top > div {
  animation-name: moving-bot-to-top;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.moving-top-to-bot > div {
  animation-name: moving-top-to-bot;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

#img-stack-root {
  animation: zoom-middle 1s ease-in forwards 1s;
}

@keyframes moving-bot-to-top {
  0% {
    transform: translateY(0%);
  }

  60% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(-610%);
  }
}

@keyframes moving-top-to-bot {
  0% {
    transform: translateY(0%);
  }

  60% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(610%);
  }
}

@keyframes moving-right-to-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-60%);
  }
}

@keyframes moving-left-to-right {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(60%);
  }
}

@keyframes zoom-middle {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(5);
  }
}
